<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Given_Documents</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container mt-5">
     <center><h1>Requested-Documents</h1></center>
    <div class="input-group mb-3">
    <input type="text" id="searchInput" placeholder="Search by mezgebkuter or Fname">
    <button id="searchBtn">Search</button>
  </div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col"> Number</th>
                <th scope="col">Fname </th>
                <th scope="col">Lname </th>
                <th scope="col"> Phone</th>
                <th scope="col">Department </th>
                <th scope="col">RequestedDocumentName </th>
                <th scope="col"> Mezgeb-Kuter</th>
                <th scope="col"> Cso-Name</th>
                <th scope="col"> DateRequested</th>
                <th scope="col"> Status</th>
            </tr>
        </thead>
        <tbody class="tableBody">
            <%= r=1 %> 
            <% if(givenlist.length>0){%>
                <% givenlist.forEach((folderhandler)=>{%>
               <tr>
                <td><%= r++ %></td>
                <td><%=folderhandler.fname %></td>
                <td><%=folderhandler.lname %></td>
                <td><%=folderhandler.phone %></td>
                <td><%=folderhandler.department %></td>
                <td><%=folderhandler.RequestedDocumentName %></td>
                <td><%=folderhandler.mezgebkuter %></td>
                <td><%=folderhandler.csoname %></td>
                <td><%=folderhandler.DateRequested %></td>
                <td><%=folderhandler.status %></td>
                
               </tr>
               
               <%});%>
               <%} else {%>
                <tr>
                    <td colspan="7">No given document found</td>
                </tr>
            <% } %>
              </tbody>
    </table>
    </div>
    <script>   
                const searchBtn = document.getElementById("searchBtn");
                const searchInput = document.getElementById("searchInput");
                const tableBody = document.querySelector(".tableBody");
               
                searchBtn.addEventListener("click", async () => {
                    const searchValue = searchInput.value.trim();
                    if (searchValue !== "") {
                        try {
                            const response = await fetch(`http://localhost:9800/search?value=${searchValue}`);
                            const users = await response.json();
                            displayUsers(users);
                        } catch (error) {
                            console.error("An error occurred while searching for users:", error);
                        }
                    }
                });
            
                function displayUsers(users) {
           tableBody.innerHTML ="";
            if (users.length > 0) {
                users.forEach((user,index) => {
                    const row = document.createElement("tr");
                   row.innerHTML = `
                       <td>${index + 1}</td>
                        <td>${user.fname} </td>
                        <td> ${user.lname}</td>
                        <td>${user.phone}</td>
                        <td>>${user.department}</td>
                        <td>${user.RequestedDocumentName}</td>
                        <td>${user.mezgebkuter}</td>
                        <td>${user.csoname}</td>
                        <td> ${user.DateRequested}</td>
                        <td> ${user.status}</td>
                 
                    `;
                    tableBody.appendChild(row);
                });
            } else {
                const row = document.createElement("tr");
                row.innerHTML = `<td colspan="7">No search results found.</td>`;
                tableBody.appendChild(row);
            }
        }
        </script>         
</body>
</html>